body {
    background-color: burlywood;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1em;
}

.header-container h1 {
    font-size: 2.5rem;
    margin: 2px;
}

.header-nav {
    margin: 10px;
}

.nav-btn {
    margin: 5px;
    padding: 1rem;
    background-color: rgb(164, 164, 244);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-btn:hover {
    background-color: blue;
    color: aliceblue;
}

.header-details p {
    margin: 5px;
}

.home-container {
    display: flex;
    justify-content: space-between;
}

.option-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.option-container button {
    width: 47%;
    margin: 1px;
    background-color: darksalmon;
}

.check-container {
    width: 75%;
    height: 75vh;
    background-color: rgb(164, 164, 244);
    margin: 0px;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.check-card {
    background-color: rgba(245, 245, 220, .75);
    height: 175px;
    width: 200px;
    text-align: center;
    border: 2px solid black;
    margin: 5px;
}

.order-page {
    display: flex;
    justify-content: space-evenly;
}

.order-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 30%;
    height: 80vh;
    border: 1px solid black;
    margin: 10px;
}

.order-info h3 {
    text-align: center;
    text-decoration: underline;
}

.menu-int {
    background-color: rgb(164, 164, 244);
    height: 80vh;
    width: 50%;
    margin: 10px;
    border: 1px solid black;
}

.menu-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 15%;
    height: 80vh;
    margin: 10px;
}

.cat-btn {
    padding: 10px;
    width: 100%;
    background-color: darksalmon;
    font-weight: bold;
}

.item-btn {
    width: 200px;
    height: 100px;
    background-color: crimson;
    font-size: 130%;
    font-weight: bold;
    margin: 3px;
}

.option-btn-container {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
    height: 100px;
}

.option-btn-container button {
    padding: 5px;
    background-color: darkseagreen;
    width: 100%;
}

.order-row {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: -2%;
    height: 2em;
    align-items: center;
    font-size: .9em;
}

.order-staged {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: -2%;
    height: 2em;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    /* color: crimson; */
}


.order-select {
    background-color: black;
    color: white;
}

.seats {
    margin-left: 10px;
    margin-right: 10px;
}

.seats button {
    padding: 7px;
    border: 1px black solid;
}

.seat-neutral {
    background-color: darksalmon;
}

.seat-select {
    background-color: crimson;
    color: white;
}

.check-detail {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px;
}

.seat-div h4 {
    text-decoration: underline;
    font-style: italic;
}

.order-total {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
}

.total-detail {
    border-top: 2px solid black;
}

.total-line {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    margin-left: 5px;
}

.total-line p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.payment-options {
    background-color: rgb(164, 164, 244);
    height: 80vh;
    width: 30%;
    margin: 10px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.payment-options button {
    width: 45%;
    height: 20%;
    background-color: rgb(67, 236, 67);
}

.payment {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: .75rem;
    font-style: italic;
}